name: Create a build and run tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    name: Build and run unit tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Install Node 14.x
      uses: actions/setup-node@v2
      with:
        node-version: '14.x'
    - name: Cache Node.js modules
      uses: actions/cache@v2
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.OS }}-node-
          ${{ runner.OS }}-

    - name: Install dependencies
      run: npm install
    - name: Build
      run: npm run build --if-present

    - name: Run unit tests
      run: npm run test:ci

    - name: Run ESLint
      run: yarn run eslint .

    - name: Add badges
      uses: rocktimsaikia/badge-it@master
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        badges: 'gh_version, gh_license'

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1
      if: always()
      with:
        files: junit.xml